body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #list {
    margin-top: 20px;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px snow;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
  }
  
  .item-heading {
    font-weight: bold;
  }
  
 
  #completed{
    text-decoration: line-through;
    
    color:darkgoldenrod;
  }
  